<!DOCTYPE html>
<html>
<head>

	<title>Terse.</title>

	<link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/compiled/styles.css">

	<script>{{{javascript}}}</script>
	<script src="/compiled/terse.js"></script>

</head>
<body>

	<a id="terse" href="#">Terse.</a>
	{{#user}}
	<span id="user">
		<img src="{{avatar}}" /> {{username}}
	</span>
	<a href="/logout">Log Out</a>
	{{/user}}
	{{^user}}
	<a id="github" href="/auth/github" class="btn btn-mini">Login via GitHub <i class="icon-github-alt"></i></a>
	{{/user}}

	{{{body}}}

</body>
</html>