<!DOCTYPE html>
<html>
<head>

	<title>Terse</title>

	<link rel="stylesheet" href="/styles/terse.css">

	<script src="/templates/terse.js"></script>
	<script src="/scripts/terse.js"></script>

</head>
<body>

	{{{body}}}

</body>
</html>