<!DOCTYPE html>
<html>
<head>

	<title>Terse</title>

	<link rel="stylesheet" href="/compiled/styles.css">

	<script>{{{javascript}}}</script>
	<script src="/compiled/terse.js"></script>

</head>
<body>

	<a id="terse" href="#">Terse</a>
	{{#user}}
	<span id="user">
		<img src="{{avatar}}" /> {{username}}
	</span>
	{{/user}}
	{{^user}}
	<a id="github" href="/auth/github" class="btn btn-mini">Login via GitHub <i class="icon-github-alt"></i></a>
	{{/user}}

	<div id="toolbar" class="nav pull-right"></div>

	{{{body}}}

</body>
</html>