<!DOCTYPE html>
<html>
<head>

	<title>Terse.</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/compiled/styles.css">

	<script>{{{javascript}}}</script>
	<script src="/compiled/terse.js"></script>

</head>
<body>

	<header>
		<a id="terse" href="/">Terse.</a>
		<a id="new" class="btn primary" href="/new">New Terse <i class="icon-plus"></i></a>

		<div id="identity">
			{{#user}}
			<div id="user" class="dropdown right">
				<a href="#dropdown"><img src="{{avatar}}" /> {{username}} <i class="icon-caret-down"></i></a>
				<ul class="items">
					<li><a href="/logout">Log Out <i class="icon-signout"></i></a></li>
				</ul>
			</div>
			{{/user}}
			{{^user}}
			<a id="github" href="/auth/github" class="btn primary">Login via GitHub <i class="icon-github"></i></a>
			{{/user}}
		</div>
	</header>

	{{{body}}}

</body>
</html>