<!DOCTYPE html>
<html>
<head>

	<title>Terse</title>

	<link rel="stylesheet" href="/styles/terse.css">

	<script src="/templates/terse.js"></script>
	<script src="/scripts/terse.js"></script>

</head>
<body>

	<a id="terse" href="#">Terse</a>

	<div id="toolbar" class="nav pull-right"></div>

	{{{body}}}

</body>
</html>