<ul class="listing">
{{#each files}}
	<li>
		<a href="#file"><h2>{{filename}}</h2></a>
		<a href="#file-menu"><i class="fa fa-caret-down"></i></a>
	</li>
{{/each}}
</ul>
<a href="#new-file"><i class="fa fa-plus"></i></a>
<textarea id="code"></textarea>