<ul class="listing tabs">
{{#each files}}
	<li>
		<a class="gray" href="#file">{{filename}}</a>
		<a class="gray" href="#file-menu"><i class="fa fa-caret-down"></i></a>
	</li>
{{/each}}
</ul>
<a class="new green" href="#new-file"><i class="fa fa-plus"></i></a>
<textarea class="editor"></textarea>