<div id="toolbar"></div>
<div id="html">
	<h3>HTML</h3>
	<textarea></textarea>
</div>
<div id="css">
	<h3>CSS</h3>
	<textarea></textarea>
</div>
<div id="js">
	<h3>JS</h3>
	<textarea></textarea>
</div>
<div id="result">
	<h3>Result</h3>
	<iframe></iframe>
</div>