<div id="group">
	<div id="metadata"></div>
	<div id="toolbar"></div>
	<div id="files">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#html">HTML</a></li>
			<li><a href="#css">CSS</a></li>
			<li><a href="#js">JS</a></li>
		</ul>
		<div class="tab-content">
			<div id="html"></div>
			<div id="css"></div>
			<div id="js"></div>
		</div>
	</div>
	<div id="result"></div>
</div>