<div id="html">
	<div class="module">
		<div class="toolbar">
			<h3>HTML</h3>
		</div>
		<textarea></textarea>
	</div>
</div>
<div id="css">
	<div class="module">
		<div class="toolbar">
			<h3>CSS</h3>
		</div>
		<textarea></textarea>
	</div>
</div>
<div id="js">
	<div class="module">
		<div class="toolbar">
			<h3>JS</h3>
		</div>
		<textarea></textarea>
	</div>
</div>
<div id="result">
	<div class="module">
		<div class="toolbar">
			<h3>Result</h3>
		</div>
		<iframe></iframe>
	</div>
</div>