<div id="files">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#html">HTML</a></li>
		<li><a href="#css">CSS</a></li>
		<li><a href="#js">JS</a></li>
	</ul>
	<div class="tab-content">
		<div id="html" class="tab-pane active">
			<textarea></textarea>
		</div>
		<div id="css" class="tab-pane">
			<textarea></textarea>
		</div>
		<div id="js" class="tab-pane">
			<textarea></textarea>
		</div>
	</div>
</div>
<div id="result">
	<iframe></iframe>
</div>