<ul class="listing tabs">
{{#each files}}
	<li>
		<a class="gray" href="#file">{{filename}}</a>
		<a class="gray" href="#file-menu"><i class="fa fa-caret-down"></i></a>
	</li>
{{/each}}
</ul>
<a class="refresh" href="#refresh-result"><i class="fa fa-refresh"></i></a>
<iframe></iframe>