<ul>
	<li class="link">
		<a id="link" href="#" target="_blank"></a>
	</li>
	<li class="update">
		<button id="update" type="button" class="btn btn-mini">Update <i class="icon-refresh"></i></button>
	</li>
	{{#if forkable}}
	<li class="fork">
		<button id="save" type="button" class="btn btn-primary btn-mini">Fork <i class="icon-copy"></i></button>
	</li>
	{{else}}
	<li class="save">
		<button id="save" type="button" class="btn btn-primary btn-mini">Save <i class="icon-save"></i></button>
	</li>
	{{/if}}
</ul>