<ul>
	<li class="link">
		<a id="link" href="#"></a>
	</li>
	<li class="update">
		<button id="update" type="button" class="btn">Update</button>
	</li>
	<li class="save">
		<button id="save" type="button" class="btn">Save</button>
	</li>
</ul>
